<form action='/posts/#{@post.id}' method='POST'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2>Name: <input type='text' name='#{@post.name}'></h2>
  <h2>Content: <input type='text' name='#{@post.content}'></h2>
  <input type='submit' value='submit'>
</form>
