<form action='/posts/<%=@post.id%>' method='POST'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2>Name: <%= @post.name %></h2>
  <h2>Content: <%= @post.content %></h2>
  <h3>New Name: <input type='text' name='name' value='ben'></h3>
  <h3>New Content: <input type='text' name='content'></h3>
  <input type='submit' value='submit'>
</form>
